@import 'viewportDefinitions';

$handleBorderColor:rgba(200,200,200,0.55);
$dialogMinWidth:100px;
$dialogMinHeight:18px;
$radius:8px;
$themeColorA:rgba(60,60,60,0.7);
$themeColorB:rgba(0,0,0,0.85);
$themeTextColor:rgba(220,220,190,1);

div.bfDialogWrapper {
	position:absolute;
	border:1px solid rgba(225, 235, 245, 0.55);
	border-radius:$radius;
	box-shadow:2px 4px 20px 3px black;
	overflow:hidden;
	z-index:101;
	background:inherit;

	@media screen and (max-width:$iPhone6Landscape) {
		box-shadow:none;
		filter:none;
		background:linear-gradient(45deg, #1d1c1c, #5f5c5cf0);

		* {
			filter:none !important;
			box-shadow:none !important;
			text-shadow:none !important;
		}
	}

	&.liveChatMode {
		left:auto;
		right:1vh;
		top:1vh;
		align-self:flex-end;
	}

	&.hoverOverlay:hover {
	}

	&.hoverOverlay:hover > div.overlayHandle {
		display:flex;
	}

	> div.overlayHandle {
		display:none;
		flex-direction:column;
		justify-content:flex-end;
		flex-wrap:nowrap;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:10%;
		background-color:rgba(0,0,0,0.8);
		z-index:5;
		user-select:none;
		-moz-user-select:none;
		border-radius:8px 8px 0 0;
		cursor:move;
		overflow:hidden;

		> div.overlayClose {
			color:rgba(255,255,255,0.9);
			font-size:5vh;
			text-shadow:0 0 3px black;
			cursor:pointer;
			margin-right:1vw;
			user-select:none;
			-moz-user-select:none;
			position:absolute;
			top:0;
			right:0;
		}

		> div.overlayTitle {
			align-self:center;
			color:rgba(255,255,255,0.6);
			font-size:1.5vw;
			font-weight:bold;
			margin:auto;

			@media screen and (max-width:$iPhone6Landscape) {
				font-size:1.5vw;
			}

			@media screen and (max-width:$iPhone6Portrait) {
				font-size:1.7vh;
			}
		}
	}

	> div.bfDialogHandle {
		position:relative;
		min-width:$dialogMinWidth;
		min-height:$dialogMinHeight;
		display:none;
		flex-direction:row;
		flex-wrap:nowrap;
		border-bottom:1px solid $handleBorderColor;
		overflow:hidden;
		background:linear-gradient(45deg, $themeColorA, $themeColorB);
		color:$themeTextColor;
		padding:2px;
		cursor:move;
		user-select:none;
		-moz-user-select:none;

		> div.title {
			flex-grow:1;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			position:relative;
		}

		> div.mini {
			cursor:pointer;
			width:10%;
			max-width:15px;
			top:-2px;
			right:4px;
			position:relative;
			text-align:right;
			font-weight:bold;
		}

		> div.close {
			cursor:pointer;
			margin-right:2px;
			position:relative;
			text-align:center;
		}
	}

	> div.bfContentDialogBody {
		position:relative;
		min-width:$dialogMinWidth;
		min-height:80px;
		max-height:100vh;
		border-radius:0px 0px $radius $radius;
		z-index:2;
		color:$themeTextColor;
		text-shadow:0 0 12px rgba(255,255,255,0.5);
		overflow-y:auto;
		overflow-x:hidden;

		&.minified {
			height:0;
			min-height:0;
		}
	}

	> div.bfBlurDialogBody {
		position:absolute;
		top:0px;
		left:-10px;
		right:-10px;
		bottom:-10px;

		overflow:hidden;
		transition:height 400ms ease-in-out;
		border-radius:$radius;
		filter:blur(8px);
		z-index:1;

		background:inherit;

		@media screen and (max-width:$iPhone6Landscape) {
			filter:none;
			background:black;
			display:none;
		}

		&:after {
			content:'';
			position:absolute;
			z-index:2;
			/*mix-blend-mode:screen;*/
			top:0;
			left:0;
			right:0;
			bottom:0;

			background:inherit;
			background-image:linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(10,10,10,0.5));
		}
	}
}
