$handleBorderColor:rgba(200,200,200,0.55);
$dialogMinWidth:100px;
$radius:12px;

div.bfDialogWrapper {
	position:absolute;
	border:1px solid rgba(15,15,15,0.45);
	border-radius:$radius;
	box-shadow:0 0 64px 0px rgba(255,255,255,0.65);
	overflow:hidden;

	background:inherit;

	> div.bfDialogHandle {
		position:relative;
		min-width:$dialogMinWidth;
		height:20px;
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		border-top:1px solid $handleBorderColor;
		border-left:1px solid $handleBorderColor;
		border-right:1px solid $handleBorderColor;
		overflow:hidden;

		> div.title {
			align-self:center;
			flex-grow:4;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}

		> div.mini {
			align-self:center;
			flex-grow:1;
			cursor:pointer;
		}

		> div.close {
			align-self:center;
			flex-grow:1;
			cursor:pointer;
		}
	}

	> div.bfDialogBody {
		position:relative;
		min-width:$dialogMinWidth;
		height:80px;
		overflow:hidden;
		transition:height 400ms ease-in-out;
		border-radius:$radius;
		filter:blur(6px);

		background:inherit;

		&:after {
			content:'';
			position:absolute;
			z-index:-1;
			mix-blend-mode:hard-light;
			top:0;
			left:0;
			right:0;
			bottom:0;

			background:inherit;
		}
	}
}
