div.BFModalOverlay {
	position:absolute;
	background:linear-gradient(145deg, rgba(0,0,0,1), rgba(30,30,30,1));
	z-index:999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	cursor:wait;
	transition:all 1s ease-in-out;
	opacity:0.95;

	sup.smallLetters {
		font-size:1.5vh;
	}
}

div.BFModalOverlay.inheritBackground {
	opacity:1;
	background-color:rgba(0,0,0,0.65);
}

div.BFModalOverlay.fulfilled {
	background:linear-gradient(145deg, rgba(0, 0, 0, 1), rgba(30, 30, 30, 1));
	opacity:1;
	cursor:default;
}

div.BFModalOverlay.flex {
	display:flex;
	align-items:center;
	flex-direction:row;
	justify-content:center;
}

@keyframes fadeOutOverlay {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}
