html {
	color:#222;
	font-size:1em;
	line-height:1.4;
}

body {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;

	font-family:"Open Sans", sans-serif;
	font-weight:400;
	font-size:16px;
	margin:0;
	padding:0;

	overflow:hidden;
}

::selection {
	background:#b3d4fc;
	text-shadow:none;
}

audio,canvas,iframe,img,svg,video {
	vertical-align:middle;
}

html, body, div, span, applet, object, input, textarea, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
