@import 'viewportDefinitions';

@keyframes rotate-forever {
	from {
		transform: rotate(0deg);
		box-shadow: 0px 0px 0px white;
	}
	to {
		transform: rotate(360deg);
		box-shadow: 0px 0px 140px 1px rgba(200,200,150,0.4);
	}
}

@keyframes rotate-forever-mobile {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes unfold {
	from {
		transform:rotate(-30deg);
		opacity:0;
	}
	to {
		transform:rotate(30deg);
		opacity:1;
	}
}

div.loading-spinner {
	position: absolute;

	min-width: 50vw;
	min-height: 50vw;

	border: 2px solid rgba(255,255,255,0.75);
	border-right-color: transparent;
	border-radius: 60%;
	display: inline-block;
	animation: 1s linear 0s infinite rotate-forever;
	filter:blur(5px);

	@media screen and (max-width:$iPhone6Landscape) {
		animation: 1s linear 0s infinite rotate-forever-mobile;
		filter:none;
	}
}

div.BFConfirm {
	position:absolute;

	width:5%;
	height:50%;
	align-self:flex-start;

	border:20px solid rgba(0,100,0,0.85);
	border-top-color:transparent;
	border-left-color:transparent;

	transform:rotate(30deg);
	box-shadow:12px 12px 17px 0px rgba(0, 220, 0, 0.65);

	filter:blur(2px) contrast(3) brightness(1.5);
}
