#world {
	display:flex;
	align-items:stretch;
	justify-content:space-around;
	flex-direction:row;
	flex-wrap:wrap;

	border:1px solid black;
	box-sizing:border-box;

	transition:all 1s linear;
	background-color:rgba(10,10,10,1);
}

div.backgroundImage {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

#world > section {
	position:relative;
	flex-grow:1;
	flex-shrink:1;
	flex-basis:100%;

	padding:0px;

	display:flex;
	justify-content:flex-start;
	flex-direction:row;
	flex-wrap:wrap;

	box-sizing:border-box;
	border:1px dashed white;
}

#world > section.head {
	flex-grow:1;
	flex-basis:100%;
}

#world > section.center {
	justify-content:space-around;
}

#world > section.footer {
	flex-grow:1;
	flex-basis:100%;
	order:5;

	color:white;
}

#world > section.content.left {
	flex-basis:0%;
	flex-grow:0;
	flex-shrink:1;
	order:0;
}

#world > section.content.right {
	color:white;
	flex-basis:0%;
	flex-grow:0;
	order:4;
}

@media all and (max-width: 600px) {
	#world > section.content.left {
		flex-grow:1;
		flex-basis:100%;
		flex-shrink:1;
	}

	 #world > section.content.right {
		flex-grow:1;
		flex-basis:100%;
	}
}

@media all and (min-width: 800px) {
	#world > section.content {
		flex-grow:10;
		flex-basis:0%;
		order: 1;
	}
}


.module {
	flex-grow: 1;

	width: 70px;
	height: 70px;
	background-color: white;
	border: 1px dashed gray;
	overflow: hidden;
}
