@import 'viewportDefinitions';

div#world {
	display:flex;
	align-items:stretch;
	justify-content:flex-start;
	flex-direction:row;
	flex-wrap:wrap;

	overflow:hidden;

	/*transition:all 600ms linear;*/

	&.lowRes {
		background-image:none !important;
		background:linear-gradient(90deg, black, #89aacc) !important;

		* {
			filter:none !important;
			box-shadow:none !important;
			text-shadow:none !important;
			transition:none !important;
		}

		&:before {
			filter:none !important;
			transition:none !important;
			content:none !important;
		}
	}

	@media screen and (max-width:$iPhone6Landscape) {
		overflow-y:hidden;
  		-webkit-overflow-scrolling:touch;
	}

	> section {
		position:relative;
		flex-grow:0;
		flex-shrink:1;
		flex-basis:100%;

		padding:0px;

		display:flex;
		justify-content:flex-start;
		flex-direction:row;
		flex-wrap:wrap;
		/*
		DEBUG BORDER
		box-sizing:border-box;
		border:1px dashed white;
		*/
	}

	> section.head {
		flex-grow:1;
		flex-basis:100%;
	}

	> section.content.center {
		background:inherit;
		justify-content:flex-start;
		/*width:100vw;*/
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
		z-index:1;

		&.mobileNavMode {
			flex-basis:20%
		}

		&.mobileNavMode ~ section.content.right {
			flex-basis:80%;
			display:block;
		}
	}

	> section.footer {
		flex-grow:1;
		flex-basis:100%;
		order:5;

		color:white;
	}

	> section.content.left {
		flex-basis:0%;
		flex-grow:0;
		flex-shrink:1;
		order:0;
	}

	> section.content.right {
		color:white;
		flex-basis:0%;
		flex-grow:0;
		order:4;
		display:none;
	}
}

div#world.backgroundImage {
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

/*div#world.backgroundImage:before {
	background:inherit;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	content:'';
	filter:blur(8px) grayscale(50%);
	transition:filter 600ms linear;
}*/

.BFComponent {
	flex-basis:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
}

/*
Took this out because it caused trouble when creating Dialog Modules within the Center directly
@media screen and (min-width:$iPadPortrait) {
	#world > section.content {
		flex-grow:10;
		flex-basis:0%;
		order: 1;
	}
}*/
