@import 'viewportDefinitions';
@import 'barfoosfonts';

div#world {
	display:flex;
	align-items:stretch;
	justify-content:flex-start;
	flex-direction:row;
	flex-wrap:wrap;

	overflow:hidden;

	/*transition:all 600ms linear;*/

	&.lowRes {
		background-image:none !important;
		background:linear-gradient(45deg, rgba(112, 106, 165, 0.9), rgba(0, 0, 0, 0.9)) !important;

		* {
			filter:none !important;
			box-shadow:none !important;
			text-shadow:none !important;
			transition:none !important;
		}

		&:before {
			filter:none !important;
			transition:none !important;
			content:none !important;
		}
	}

	@media screen and (max-width:$iPhone6Landscape) {
		overflow:hidden;
  		-webkit-overflow-scrolling:touch;
	}

	> section {
		position:relative;
		flex-grow:0;
		flex-shrink:1;
		flex-basis:100%;

		padding:0px;

		display:flex;
		justify-content:flex-start;
		flex-direction:row;
		flex-wrap:wrap;

		scrollbar-width:none;
		/*
		DEBUG BORDER
		box-sizing:border-box;
		border:1px dashed white;
		*/
	}

	> section.head {
		position:relative;

		&.dialogBlur {
			filter:blur(7px) brightness(0.7);
			overflow:hidden;
			transition:filter 200ms linear;
		}
	}

	> section.content.center {
		background:inherit;
		justify-content:flex-start;
		/*width:100vw;*/
		height:100vh;
		overflow-x:hidden;
		overflow-y:scroll;
		z-index:1;
		flex-basis:75%;

		&::-webkit-scrollbar {
			display:none;
		}

		@media screen and (max-width:$iPadLandscape) {
			background:none;

			flex-basis:100%;
			&~section.content.right {
				flex-basis:0%;
				display:none;
			}
		}

		&.chatSideBar {
			flex-basis:0%;
			transition:flex-basis 200ms linear;
		}

		&.chatSideBar ~ section.content.right {
			right:0;
			display:flex;
			transition:right 200ms linear;
		}

		&.dialogBlur {
			filter:blur(7px) brightness(0.7);
			overflow:hidden;
			transition:filter 200ms linear;
		}

		&.mobileNavMode {
			flex-basis:20%
		}

		&.mobileNavMode ~ section.content.right {
			flex-basis:80%;
			display:block;
		}
	}

	> section.footer {
		flex-grow:1;
		flex-basis:100%;
		order:5;

		color:white;
		position:absolute;
		bottom:0;
		width:100vw;
		z-index:1;
	}

	> section.content.left {
		flex-basis:0%;
		flex-grow:0;
		flex-shrink:1;
		order:0;
	}

	> section.content.right {
		color:white;
		flex-basis:25%;
		flex-grow:0;
		order:4;
		display:flex;

		@media screen and (max-width:$iPadLandscape) {
			width:100vw;
			position:absolute;
			right:-100vw;
			display:none;
		}

		&.dialogBlur {
			filter:blur(7px) brightness(0.7);
			overflow:hidden;
			transition:filter 200ms linear;
		}
	}
}

div#world.backgroundImage {
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

.BFComponent {
	flex-basis:100%;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	/*box-shadow:0px 0px 155px 1px #efefef87;*/

	&.navBlur {
		filter:blur(5px);
	}
}

::placeholder {
	color:rgba(255,255,255,0.65);
}

/*::-webkit-scrollbar {
	display:none;
}*/
